footer {
  /* Headline did you know */
  h5 {
    font-size: 1.5em;
    font-weight: bolder;
  }

  /* Text did you know */
  p {
    color: #fff;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
  }

  /* Copyright (Last row of the page) */
  .p-3 {
    background-color: #0d0d0d;
    font-family: "Roboto", sans-serif;
  }
}
